<!DOCTYPE html>
<html lang="es">

<head>
    <title>Calendario</title>

    {{> config}}

    <link type="text/css" rel="stylesheet" href="/css/form.css" />
    <link type="text/css" rel="stylesheet" href="/css/calendar.css" />
    <link type="text/css" rel="stylesheet" href="/css/profile.css" />

    <script src="/js/calendar.js"></script>
</head>
<body>
    {{>header}}

    <div class="background-container">
        <div class="container">
            <div class="top-container">

                <h2 class="white-text">Calendario</h2>
                
            </div>
            <div id="calendar"></div>
        </div>
    </div>

    <div id="dayModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3 id="modalDate">Información del día</h3>
            <p id="modalInfo">
                Aquí puedes añadir información adicional para el día seleccionado. </p>
            <label for="eventDescription">Descripción:</label>
            <input type="text" id="eventDescription" name="description" />

            <label for="eventDate">Fecha:</label>
            <input type="text" id="eventDate" name="date" readonly />

            <label for="eventIcon">Icono:</label>
            <input type="text" id="eventIcon" name="icon" />
            
            <div class="modal-buttons">
                

                <form role="form" action='/event/edit' method="post">
                    <input type="hidden" id="eventId" name="eventId" />
                    <button type="submit" id="editButton" class="btn btn-secondary">Editar</button>
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                </form>

                <form role="form" action='/event/delete' method="post">
                    <input type="hidden" id="eventId2" name="eventId2" />
                    <button type="submit" id="deleteButton" class="btn btn-danger">Borrar</button>
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                </form>

                <button id="notifyButton" class="btn btn-info">Notificar</button>
            </div>
        </div>
    </div>

    <div class="btn-cont bottom-right-button">
        <a href="/event/new" class="btn" role="btn">
            <i class="bi bi-plus-circle"></i><tool-tip style="top: auto; bottom: 100%;">Añadir evento</tool-tip>
        </a>
    </div>
</body>
</html>