<html>

<head>
    <title>Error</title>

    {{> config}}
</head>

<body>
    {{> header}}
    <div class="background-container">
        <main class="container">
            <div class="top-container">
                <div class="left-cont">
                    <a href="/" class="btn" role="button">
                        <i class="bi bi-arrow-left"></i><tool-tip>Volver</tool-tip>
                    </a>
                </div>
                <h2>Error</h2>
                <div class="rigth-cont">
                    <i class="bi bi-square invisible-icon"></i>
                    <i class="bi bi-square invisible-icon"></i>
                </div>
            
            </div>

        </main>
    </div>
    
</body>

</html>