<!DOCTYPE html>

<head>
    {{#edit}}
    <title>Editar evento</title>
    {{/edit}}
    {{^edit}}
    <title>Añadir evento</title>
    {{/edit}}

    {{> config}}

    <link type="text/css" rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <script src="/js/newEvent.js"></script>
</head>

<body>
    {{> header}}
    <div class="background-container">
        <div class="container">
            <div class="top-container">
                <div class="left-cont">
                    <a href="/calendar" class="btn" role="button">
                        <i class="bi bi-arrow-left"></i><tool-tip>Volver</tool-tip>
                    </a>
                </div>

                {{#edit}}
                <h2>Editar evento</h2>
                {{/edit}}
                {{^edit}}
                <h2>Añadir evento</h2>
                {{/edit}}

            </div>

            {{#edit}}
            <form role="form" action="/event/{{event.id}}/edit" method="post">
            {{/edit}}
            {{^edit}}
            <form role="form" action="/event/new" method="post">
            {{/edit}}

                <div class="form-group">
                    <label for="date">Fecha</label>
                    <input type="date" class="form-control" name="date" placeholder="Fecha" value="{{#event}}{{event.date}}{{/event}}">
                </div>


                <div class="row">
                    <div class="form-group col-md-4 col-sm-12">
                        <label for="icon">Icono:</label>
                        <select class="form-control" name="icon" id="icon">
                            {{#edit}}
                            <option value="{{event.icon}}" selected hidden>{{event.icon}}</option>
                            {{/edit}}
                            <option value="bi bi-sun">Sol</option>
                            <option value="bi bi-moon">Luna</option>
                            <option value="bi bi-circle-fill">Eclipse</option>
                            <option value="bi bi-moon-fill">Luna rellena</option>
                            <option value="bi bi-circle">Círculo</option>
                            <option value="bi bi-star">Estrella</option>
                            <option value="bi bi-stars">Estrellas</option>
                            <option value="bi bi-globe">Globo</option>
                            <option value="bi bi-moon-stars">Luna y Estrellas</option>
                            <option value="bi bi-flower1">Flor</option>
                            <option value="bi bi-tree">Arbol</option>
                            <option value="bi bi-snow">Nieve</option>
                            <option value="bi bi-diagram-3">Alineación</option>
                        </select>

                        <div id="iconPreview" class="icon-preview col-md-6 col-sm-12">
                            {{^edit}}
                            <i class="bi bi-sun"></i>
                            {{/edit}}
                            {{#edit}}
                            <i class="{{event.icon}}"></i>
                            {{/edit}}
                        </div>

                    </div>
                    <div class="form-group col-md-8 col-sm-12">
                        <label for="description">Descripción:</label>
                        <textarea class="form-control" id="description" name="description">{{#event}}{{event.description}}{{/event}}</textarea>
                    </div>
                </div>

                <div class="btn-cont">
                    <button type="submit" class="btn" id="save">
                        <i class="bi bi-download"></i> Guardar
                    </button>
                    <a href="/calendar" class="btn btn-red" role="button">
                        <i class="bi bi-x-lg"></i> Cancelar
                    </a>
                </div>
                <input type ="hidden" name="_csrf" value="{{token}}"/>
            </form>
        </div>
    </div>
</body>