<header>
    <div class="left-cont">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownButton" data-toggle="dropdown">
                <i class="bi bi-list"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/news"><i class="bi bi-newspaper"></i> Noticias</a></li>
                <li><a class="dropdown-item" href="/pictures"><i class="bi bi-camera"></i> Fotos</a></li>
                <li><a class="dropdown-item" href="/users"><i class="bi bi-globe"></i> Sistema Solar</a></li>
                <li><a class="dropdown-item" href="/calendar"><i class="bi bi-calendar-event"></i> Calendario</a></li>
                <li><a class="dropdown-item" href="/piechart"><i class="bi bi-play-circle"></i> Videos</a></li>
                <li><a class="dropdown-item" href="/piechart"><i class="bi bi-book"></i> Libros</a></li>
            </ul>
        </div>
    </div>

    <div class="left-cont">
        <i class="bi bi-square invisible-icon"></i>
        <i class="bi bi-square invisible-icon"></i>
        <i class="bi bi-square invisible-icon"></i>
        <i class="bi bi-square invisible-icon"></i>
    </div>

    <div class="center-cont">
        <a class="logo-cont" href="/">
            <img id="header-img" src="/images/logo.png" alt="Logo Cosmic news">
        </a>
    </div>

    <div class="right-cont-wrapper">
        <div class="right-cont">
            <a href="/login">
                <i class="bi bi-person-fill"></i><tool-tip>Perfil</tool-tip><span>Perfil</span>
            </a>
        </div>

        <div class="right-cont">
            <a href="/quizzes">
                <i class="bi bi-card-checklist"></i><tool-tip>Quizzes</tool-tip><span>Quizzes</span>
            </a>
        </div>

        <div class="right-cont">
            <a href="/login">
                <i class="bi bi-chat-fill"></i><tool-tip>Foro</tool-tip><span>Foro</span>
            </a>
        </div>
    </div>


</header>