<html>

<head>
    <title>Cosmic News</title>

    {{> config}}
    <link type="text/css" rel="stylesheet" href="/css/cards.css" />
    <link type="text/css" rel="stylesheet" href="/css/maps.css" />
    <script src="/js/notification.js"></script>
    <script src="/js/cards.js"></script>
</head>

<body>
    {{> header}}
    <div class="background-container">

        {{#notification}}
        <div id="notification">
            <button class="close-btn" onclick="closeNotification()">×</button>
            <h2>Notificación</h2>
            <p>Hoy es {{event.date}}</p>
            <p>{{event.description}}</p>
        </div>
        {{/notification}}

        <main class="container">
            <div class="top-container">
                <div class="left-cont">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownButton2" data-toggle="dropdown">
                            <i class="bi bi-filter"></i> <tool-tip>Filtrar</tool-tip>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" onclick='setFilter("news", "date")'><i class="bi bi-clock"></i> Más recientes</a></li>
                            <li><a class="dropdown-item" onclick='setFilter("news", "likes")'><i class="bi bi-hand-thumbs-up"></i> Likes</a></li>
                            <li><a class="dropdown-item" onclick='setFilter("news", "time")'><i class="bi bi-hourglass"></i> Tiempo de lectura </a></li>
                        </ul>
                    </div>
                </div>

                <h2>Noticias</h2>

                <div class="right-cont">
                    <a class="btn" href="/pictures">
                        <i class="bi bi-camera"></i><tool-tip>Fotos</tool-tip>
                    </a>
                </div>

            </div>

            <section class="cards" id="news"></section>

            <div class="no-content" id="noNews">Sin noticias</div>

            <div class="btn-cont" id="loadNews">
                <button class="btn" onclick='load("news",0)'>
                    <i class="bi bi-chevron-double-down"></i> Cargar más
                </button>
            </div>

            <div class="btn-cont bottom-right-button">
                <a href="/news/new" class="btn" role="btn">
                    <i class="bi bi-plus-circle"></i><tool-tip style="top: auto; bottom: 100%;">Añadir noticia</tool-tip>
                </a>
            </div>

        </main>
    </div>

</body>

</html>