<html>

<head>
    <title>Cosmic News</title>

    {{> config}}
    <link type="text/css" rel="stylesheet" href="/css/cards.css" />
    <link type="text/css" rel="stylesheet" href="/css/maps.css" />
    <script src="/js/notification.js"></script>
</head>

<body>
    {{> header}}
    <div class="background-container">

        {{#notification}}
        <div id="notification">
            <button class="close-btn" onclick="closeNotification()">×</button>
            <h2>Notificación</h2>
            <p>Hoy es {{event.date}}</p>
            <p>{{event.description}}</p>
        </div>
        {{/notification}}

        <main class="container">
            <div class="top-container">
                <div class="left-cont">
                    <a class="btn" onclick="filterByDistance()">
                        <i class="bi bi-funnel-fill"></i><tool-tip>Filtrar</tool-tip>
                    </a>
                </div>
            </div>
        </main>
    </div>

</body>



</html>