<html>
<head>
    <title>Noticias</title>
    {{> config}}
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
</head>
<body>
    {{> header}}
    <div class="background-container">
        <main class="container">
            <div class="top-container">
                <div class="left-cont">
                    <a href="/" class="btn" role="button">
                        <i class="bi bi-arrow-left"></i><tool-tip>Volver</tool-tip>
                    </a>
                </div>
                <h2>Noticias</h2>
            </div>
            <ul class="news-list">
                {{#news}}
                <li class="news-item">
                    <a href="/news/{{id}}">
                        <span>{{title}} </span>
                    </a>
                </li>
                {{/news}}
            </ul>
        </main>
    </div>
    <div class="btn-cont bottom-right-button">
        <a href="/news/new" class="btn" role="btn">
            <i class="bi bi-plus-circle"></i><tool-tip style="top: auto; bottom: 100%;">Añadir noticia</tool-tip>
        </a>
    </div>
</body>
</html>