<!DOCTYPE html>
<html>

<head>
    <title>{{news.title}}</title>

    {{> config}}

    <link type="text/css" rel="stylesheet" href="/css/data.css" />
    <link type="text/css" rel="stylesheet" href="/css/profile.css" />
</head>

<body>
    {{> header}}
    <div class="background-container">
        {{#news}}
            <main class="container">
                <div class="top-container">
                    <div class="left-cont">
                        <a href="/" class="btn" role="button">
                            <i class="bi bi-arrow-left"></i><tool-tip>Volver</tool-tip>
                        </a>
                    </div>

                    <h2>{{title}} {{subtitle}}</h2>

                    <div class="right-cont">
                    <a href="/news/{{id}}/edit" class="btn" role="button">
                        <i class="bi bi-pencil-fill"></i><tool-tip>Editar noticia</tool-tip>
                    </a>

                    <a href="/news/{{id}}/delete" class="btn" role="button">
                            <i class="bi bi-trash-fill"></i><tool-tip>Borrar noticia</tool-tip>
                    </a>
                    </div>

                </div>

                <div class="row flex-container">
                    <div class="col-md-8">
                        {{#photo}}
                        <img id="img-user" src="/news/{{id}}/image" style="width: 500px; height: auto;">
                        {{/photo}}
                        {{^photo}}
                        <img id="img-user" src="/images/noPhotoUser.jpg" style="width: 500px; height: auto;">
                        {{/photo}}
                    </div>

                    <div class="col-md-4">
                        <p style="text-align: left;"><strong>Autor: </strong> {{author}}</p>
                        <p style="text-align: left;"><strong>Tema: </strong> {{topic}}</p>
                        <p style="text-align: left;"><strong>Tiempo de lectura: </strong> {{readingTime}} minutos</p>
                        <p style="text-align: left;"><strong>Fecha de publicación: </strong> {{date}}</p>
                        <p style="text-align: left;"><strong>Likes: </strong> {{likes}} <a href="/news/{{id}}/like"><i class="bi bi-hand-thumbs-up"></i></a></p>
                    </div>
                    <div>
                        <p> {{bodyText}}</p>
                    </div>
                </div>
            </main>
        {{/news}}
    </div>
</body>

</html>