<!DOCTYPE html>
<html>

<head>
    <title>Ficha de {{user.name}}</title>

    {{> config}}

    <link type="text/css" rel="stylesheet" href="/css/data.css" />
    <link type="text/css" rel="stylesheet" href="/css/profile.css" />
    <link type="text/css" rel="stylesheet" href="/css/cards.css" />
    <script src="/js/cards.js"></script>
</head>

<body>
    {{> header}}
    <div class="background-container">
        {{#user}}
            <main class="container">
                <div class="top-container">
                    <div class="left-cont">
                        <a href="/" class="btn" role="button">
                            <i class="bi bi-arrow-left"></i><tool-tip>Volver</tool-tip>
                        </a>
                    </div>

                    <h2>{{name}} {{surname}}</h2>

                    <div class="right-cont">
                    {{#me}}
                    <a href="/user/{{mail}}/edit" class="btn" role="button">
                        <i class="bi bi-pencil-fill"></i><tool-tip>Editar perfil</tool-tip>
                    </a>
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                        <button type="submit" class="btn btn-red">
                            <i class="bi bi-box-arrow-left"></i><tool-tip>Cerrar sesión</tool-tip>
                        </button>
                    </form>
                    {{/me}}
                    {{#iamAdmin}} {{^me}}
                    <a href="/user/{{mail}}/edit" class="btn" role="button">
                        <i class="bi bi-pencil-fill"></i><tool-tip>Editar usuario</tool-tip>
                    </a>
                    <form role="form" action='/profile/delete?id={{id}}' method="post">
                        <button type="submit" class="btn btn-red">
                            <i class="bi bi-trash-fill"></i><tool-tip>Borrar usuario</tool-tip>
                        </button>
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                        <input type="hidden" name="id" value="{{id}}" />
                        <input type="hidden" name="mail" value="{{mail}}" />
                    </form>
                    {{/me}} {{/iamAdmin}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{#photo}}
                        <img id="img-user" src="/user/{{id}}/image">
                        {{/photo}}
                        {{^photo}}
                        <img id="img-user" src="/images/noPhotoUser.jpg">
                        {{/photo}}
                    </div>

                    <div class="col-md-6">
                        <p style="text-align: left;"><strong>Nick:</strong> {{nick}}</p>
                        <p style="text-align: left;"><strong>E-Mail:</strong> {{mail}}</p>
                        <p style="text-align: left;"><strong>Descripción:</strong> {{description}}</p>

                    </div>
                </div>

                <div class="subcontainer">
                    <h3>Insignias conseguidas</h3>
                    <ul>
                        {{#badges}}
                        <li class="badge-item">
                            <img id="img-badge" src="/badge/{{id}}/{{position}}/image" alt="{{name}}">
                            <p><span>{{name}}</span></p>
                        </li>
                        {{/badges}}
                        {{^badges}}
                        <li>Todavía no tienes insignias. ¡Completa quizzes para conseguirlas!</li>
                        {{/badges}}
                    </ul>
                </div>
            </main>

            <div class="container">
                <div class="top-container">
    
                    <h2>Noticias que te han gustado</h2>

                </div>
                
                <section class="cards" id="newsUser"></section>

                <div class="no-content" id="noNewsUser">¡Dale like a tus noticias favoritas para poder verlas aquí!</div>

                <div class="btn-cont" id="loadNewsUser">
                    <button class="btn" onclick='load("newsUser",0)'>
                        <i class="bi bi-chevron-double-down"></i> Cargar más
                    </button>
                </div>

            </div>

            <div class="container">
                <div class="top-container">
    
                    <h2>Fotos que te han gustado</h2>
                </div>

                <section class="cards" id="picturesUser"></section>

                <div class="no-content" id="noPicturesUser">¡Dale like a tus fotos favoritas para poder verlas aquí!</div>

                <div class="btn-cont" id="loadPicturesUser">
                    <button class="btn" onclick='load("picturesUser",0)'>
                        <i class="bi bi-chevron-double-down"></i> Cargar más
                    </button>
                </div>
            </div>

        {{/user}}
    </div>
</body>

</html>