<!DOCTYPE html>
<html lang="es">

<head>
    <title>Formulario nuevo quizz</title>

    {{> config}}

    <link type="text/css" rel="stylesheet" href="/css/form.css" />
    <link type="text/css" rel="stylesheet" href="/css/quizz.css" />

    <script src="/js/quizz.js"></script>
</head>

<body isEdit="{{#edit}}true{{/edit}}{{^edit}}false{{/edit}}">
    {{> header}}
    <div class="background-container">
        <div class="container">
            {{#edit}}
            <h2>Editar {{quizz.name}}</h2>
            {{/edit}}
            {{^edit}}
            <h2>Nuevo quizz</h2>
            {{/edit}}

            {{#edit}}
            <form role="form" action="/quizz/{{quizz.id}}/edit" method="post" enctype="multipart/form-data">
            {{/edit}}
            {{^edit}}
            <form role="form" action="/quizz/new" method="post" enctype="multipart/form-data">
            {{/edit}}
                <input type="hidden" name="_csrf" value="{{token}}"/>

                <div class="row">
                    <div class="form-group col-md-6 col-sm-12">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" name="name" placeholder="Introduzca un nombre para el test" value="{{#quizz}}{{quizz.name}}{{/quizz}}">
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <label for="difficulty">Dificultad:</label>
                        <select class="form-control" name="difficulty" id="difficulty">
                            {{#edit}}
                            <option value="{{quizz.difficulty}}" selected hidden>{{quizz.difficulty}}</option>
                            {{/edit}}
                            <option value="Fácil">Fácil</option>
                            <option value="Normal">Normal</option>
                            <option value="Difícil">Difícil</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="photoField">Insignia</label>
                    <input type="file" class="form-control" name="photoField" id="photoField" accept=".jpeg, .png">
                </div>
        
                <input type="hidden" class="form-control" name="numQuestions" id="numQuestions" value="{{questionsSize}}">

                <div id="questions-container">
                    {{#quizz.questions}}
                    <div class="question-container">
                        <h3>Pregunta {{num}}</h3>
                        <div class="form-group">
                            <label for="question{{num}}">Pregunta: </label>
                            <input type="text" class="form-control" name="questions[{{num}}][question]" value="{{question}}">
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <label for="option1_{{num}}">Opción 1: </label>
                                <input type="text" class="form-control" name="questions[{{num}}][option1]" value="{{option1}}">
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <label for="option2_{{num}}">Opción 2: </label>
                                <input type="text" class="form-control" name="questions[{{num}}][option2]" value="{{option2}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <label for="option3_{{num}}">Opción 3: </label>
                                <input type="text" class="form-control" name="questions[{{num}}][option3]" value="{{option3}}">
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <label for="option4_{{num}}">Opción 4: </label>
                                <input type="text" class="form-control" name="questions[{{num}}][option4]" value="{{option4}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label for="answer_{{num}}">Opción correcta: </label>
                                <select class="form-control" name="questions[{{num}}][answer]" id="answer_{{num}}">
                                    <option value="option1" {{#correct1}}selected{{/correct1}}>Opción 1</option>
                                    <option value="option2" {{#correct2}}selected{{/correct2}}>Opción 2</option>
                                    <option value="option3" {{#correct3}}selected{{/correct3}}>Opción 3</option>
                                    <option value="option4" {{#correct4}}selected{{/correct4}}>Opción 4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    {{/quizz.questions}}
                </div>

                <div class="btn-cont">
                    <button type="button" class="btn" id="add-question-btn">
                        <i class="bi bi-plus-lg"></i> Añadir Pregunta
                    </button>
                    <button type="submit" class="btn">
                        <i class="bi bi-download"></i> Guardar
                    </button>
                    <a href="/quizzes" class="btn btn-red" role="button">
                        <i class="bi bi-x-lg"></i> Cancelar
                    </a>
                </div>

            <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
        </div>
    </div>
</body>

</html>