<!DOCTYPE html>
<html>

<head>
    <title>Quizz {{quizz.name}}</title>
    {{> config}}
    <link type="text/css" rel="stylesheet" href="/css/quiz.css" />
    <script src="/js/quiz.js"></script> 
</head>

<body>
    {{> header}}
    <div class="background-container">
        {{#quizz}}
            <main class="container">
                <div class="top-container">
                    <div class="left-cont">
                        <a href="/quizzes" class="btn" role="button">
                            <i class="bi bi-arrow-left"></i><tool-tip>Volver</tool-tip>
                        </a>
                    </div>
                    <h2>Quizz {{name}}</h2>

                    {{#admin}}
                    <div class="right-cont">
                    <a href="/quizz/{{id}}/edit" class="btn" role="button">
                        <i class="bi bi-pencil-fill"></i><tool-tip>Editar quizz</tool-tip>
                    </a>

                    <a href="/quizz/{{id}}/delete" class="btn" role="button">
                            <i class="bi bi-trash-fill"></i><tool-tip>Borrar quizz</tool-tip>
                    </a>
                    </div>
                    {{/admin}}
                </div>

                <form id="quizz-form" action="/quizz/submit/{{quizz.id}}" method="post">
                <div class="questions-container">
                    {{#questions}}
                        <div class="question-item" id="question-{{id}}">
                            <h3>Pregunta {{num}}: {{question}}</h3>
                            <div class="options-container">
                                <div class="option">
                                    <input type="radio" id="option1-{{id}}" name="question-{{id}}" value="{{option1}}" />
                                    <label for="option1-{{id}}">{{option1}}</label>
                                </div>
                                <div class="option">
                                    <input type="radio" id="option2-{{id}}" name="question-{{id}}" value="{{option2}}" />
                                    <label for="option2-{{id}}">{{option2}}</label>
                                </div>
                                <div class="option">
                                    <input type="radio" id="option3-{{id}}" name="question-{{id}}" value="{{option3}}" />
                                    <label for="option3-{{id}}">{{option3}}</label>
                                </div>
                                <div class="option">
                                    <input type="radio" id="option4-{{id}}" name="question-{{id}}" value="{{option4}}" />
                                    <label for="option4-{{id}}">{{option4}}</label>
                                </div>
                            </div>
                        </div>
                    {{/questions}}
                </div>

                    <div class="navigation-buttons">
                        {{#questions}}
                            <a href="#question-{{id}}" class="btn">{{num}}</a>
                        {{/questions}}
                    </div>

                    <div class="submit-button">
                        <button type="submit" class="btn btn-submit" id="done">Terminar quizz</button>
                    </div>
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                </form>
            </main>
        {{/quizz}}
    </div>
</body>

</html>