<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema Solar</title>
        {{>config}}
        <link type="text/css" rel="stylesheet" href="/css/space.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
        <script src="/js/space.js"></script>
    </head>

    <body>
        {{>header}}

        <div id="info">
            <button id="close-info">&times;</button>
            <img id="info-image" src="" alt="Imagen del planeta">
            <div id="info-desc"></div>
        </div>
    </body>

</html>