<html>
<head>
    <title>Vídeos</title>
    {{> config}}
    <link type="text/css" rel="stylesheet" href="/css/videos.css" />
</head>
<body>
    {{> header}}
    <div class="background-container">
        <main class="container">
            <div class="top-container">
                <div class="left-cont">
                    <a href="/" class="btn" role="button">
                        <i class="bi bi-arrow-left"></i><tool-tip>Volver</tool-tip>
                    </a>
                </div>
                <h2>Vídeos</h2>
            </div>
            <ul class="video-list">
                {{#videos}}
                <li class="video-item">
                    <a href="/videos/{{id}}" class="video-link">
                        <div class="video-content">
                            <img id="img-video" src="https://img.youtube.com/vi/{{videoUrl}}/maxresdefault.jpg" alt="{{title}}" class="video-image"/>
                            <div class="video-info">
                                <span class="video-title">{{title}}</span>
                                <span class="video-duration">{{duration}}<i class="bi bi-clock"></i></span>
                            </div>
                        </div>
                    </a>
                </li>
                {{/videos}}
            </ul>
        </main>
    </div>
    <div class="btn-cont bottom-right-button">
        <a href="/video/new" class="btn {{^admin}}hidden{{/admin}}" role="btn">
            <i class="bi bi-plus-circle"></i><tool-tip style="top: auto; bottom: 100%;">Añadir vídeo</tool-tip>
        </a>
    </div>
</body>
</html>