<!DOCTYPE html>
<html>

<head>
    <title>Vídeos</title>

    {{> config}}

    <link type="text/css" rel="stylesheet" href="/css/cards.css" />

    <script src="/js/cards.js"></script>
</head>

<body>
    {{> header}}

    <div class="background-container">
        <main class="container">
            <div class="top-container">

                <h2>Vídeos</h2>

            </div>

            <section class="cards" id="videos"></section>

            <div class="no-content" id="noVideos">Sin vídeos</div>

            <div class="btn-cont" id="loadVideos">
                <button class="btn" onclick='load("videos",0)'>
                    <i class="bi bi-chevron-double-down"></i> Cargar más
                </button>
            </div>
        </main>
    </div>

    <div class="btn-cont bottom-right-button">
        <a href="/video/new" class="btn {{^admin}}hidden{{/admin}}" role="btn">
            <i class="bi bi-plus-circle"></i><tool-tip style="top: auto; bottom: 100%;">Añadir foto</tool-tip>
        </a>
    </div>

</body>

</html>