<div class="background-container">
    <div class="container">
        <h2 *ngIf="edit">Editar {{user.name}}</h2>
        <h2 *ngIf="!edit">Nueva usuario</h2>
    
        <form>
            <div class="row">
                <div class="form-group col-md-6 col-sm-12">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" name="name" placeholder="Introduzca su nombre" [(ngModel)]="user.name">
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label for="surname">Apellidos</label>
                    <input type="text" class="form-control" name="surname" placeholder="Introduzca sus apellidos" [(ngModel)]="user.surname">
                </div>
            </div>

            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea type="text" class="form-control" name="description" placeholder="Datos personales de interés" [(ngModel)]="user.description"></textarea>
            </div>

            <div class="form-group">
                <label for="nick">Nickname*</label>
                <input type="text" class="form-control" name="nick" id="nick" placeholder="Introduzca su nickname" oninput="checkNick()" [(ngModel)]="user.nick" required>
                <div id="nickContent"></div>
            </div>

            <div class="row" *ngIf="!edit">
                <div class="form-group col-md-6">
                    <label for="mail">Correo electrónico*</label>
                    <input type="text" class="form-control" name="mail" id="mail" oninput="checkMail()" placeholder="example@gmail.com" required>
                    <div id="mailContent"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="pass">Contraseña*</label>
                    <input type="password" class="form-control" name="pass" id="pass" oninput="checkPassword()" placeholder="Introduzca su contraseña" required>
                    <div id="passContent"></div>
                </div>
            </div>

            <div class="form-group">
                <label for="photoField">Foto de perfil</label>
                <input type="file" class="form-control" name="photoField" id="photoField" accept=".jpeg, .png">
            </div>

            <div class="btn-cont">
                <button type="submit" (click)="save()" class="btn">
                    <i class="bi bi-download"></i> Guardar
                </button>
                <a [routerLink]="['/login']" class="btn btn-red" role="button">
                    <i class="bi bi-x-lg"></i> Cancelar
                </a>
            </div>
        </form>
    </div>
</div>