.video-list {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea */
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 15px; /* Espacio entre los elementos */
}

.video-item {
    flex: 1 1 300px; /* Los elementos ocupan un mínimo de 300px y se expanden para llenar el espacio disponible */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total del elemento */
}

.video-link {
    text-decoration: none;
    color: inherit;
}

.video-content {
    display: flex;
    align-items: center;
    border: 1px solid #032054;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s;
}

.video-content:hover {
    background-color: #f9f9f9;
}

.video-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
}

.video-info {
    display: flex;
    flex-direction: column;
}

.video-title {
    font-size: 1.2em;
    font-weight: bold;
}

.video-duration {
    display: flex;
    align-items: center;
}